.aider*
.env



.vscode/

.DS_Store
.venv/
venv/

.history/



__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz


**.git**

# Docker-related files
exported_config/
temp_nixos_repo/
get-docker.sh
*.swp
*~

# Nix-related
result
result-*



